@font-face {
  font-family: flecha;
  src: url(./letra/Arrows_tfb.ttf);
}

ul li {
  list-style-type: none;
  background-color: pink;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 2px;
}

ul a {
  text-decoration: none;
  display: block;
  color: black;
  transition: 0.5s;
}

nav {
  width: 500px;
}

ul li:hover {
  background-color: sandybrown;

}

nav li.hasChildren a::after {
  color: purple;
  font-family: flecha;
  content: " o";
}